# extends 'admin/admin_base.html'
# import 'macro/utils.html' as utils

# block admin_content
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary" disabled >Limit</button>
        {{utils.filter_by_link('limit', 16)}}
        {{utils.filter_by_link('limit', 64)}}
        {{utils.filter_by_link('limit', 128)}}
        {{utils.filter_by_link('limit', 512)}}
        {{utils.filter_by_link('limit', 1024)}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-danger" disabled >Positive</button>
        {{utils.filter_by_link('is_positive', True, 'thumbs-o-up')}}
        {{utils.filter_by_link('is_positive', False, 'thumbs-o-down')}}
      </div>
    </div>
  </div>

  <div class="alert alert-warning alert-dismissable {{'hide' if pay_dbs|count > 0}}">
    <a href="{{url_for('admin_pay_list')}}" class="close" title="Remove all filters">&times;</a>
    There are no data matching the filters.
  </div>

  <table class="table table-bordered table-pay {{'hide' if pay_dbs|count == 0}}">
    <thead>
      <tr>
        <th>User</th>
        <th>{{utils.order_by_link('code', 'Code')}}</th>
        <th>{{utils.order_by_link('name', 'Name')}}</th>
        <th>{{utils.order_by_link('date_for', 'Date For')}}</th>
        <th>{{utils.order_by_link('date_paid', 'Date Paid')}}</th>
        <th class="text-right">{{utils.order_by_link('amount', 'Amount')}}</th>
      </tr>
    </thead>
    <tbody>
      # for pay_db in pay_dbs
        <tr class="{{'positive' if pay_db.amount >= 0 else 'negative'}}">
          # set user_db = pay_db.key.parent().get()
          <td>
            # if user_db
              <img src="{{user_db.avatar_url_size(36)}}" width="18">
              {{user_db.name}}
            # endif
          </td>
          <td>{{pay_db.code}}</td>
          <td>{{pay_db.name}}</td>
          <td>{{pay_db.date_for.strftime('%b %Y')}}</td>
          <td>{{pay_db.date_paid.strftime('%d %b %Y')}}</td>
          <td class="text-right">{{pay_db.amount_format}}</td>
        </tr>
      #endfor
    </tbody>
  </table>
  {{utils.next_link(next_url)}}
# endblock
