# extends 'base.html'
# import 'macro/utils.html' as utils

# block content
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary" disabled >Limit</button>
        {{utils.filter_by_link('limit', 16)}}
        {{utils.filter_by_link('limit', 64)}}
        {{utils.filter_by_link('limit', 128)}}
        {{utils.filter_by_link('limit', 512)}}
        {{utils.filter_by_link('limit', 1024)}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-danger" disabled >Positive</button>
        {{utils.filter_by_link('is_positive', True, 'thumbs-o-up')}}
        {{utils.filter_by_link('is_positive', False, 'thumbs-o-down')}}
      </div>
    </div>
  </div>

  <table class="table table-bordered table-pay">
    <thead>
      <tr class="text-nowrap">
        <th>{{utils.order_by_link('code', 'Code')}}</th>
        <th>{{utils.order_by_link('name', 'Name')}}</th>
        <th>{{utils.order_by_link('date_for', 'Date For')}}</th>
        <th>{{utils.order_by_link('date_paid', 'Date Paid')}}</th>
        <th class="text-right">{{utils.order_by_link('amount', 'Amount')}}</th>
      </tr>
    </thead>
    <tbody>
      # for pay_db in pay_dbs
        <tr class="{{'positive' if pay_db.amount >= 0 else 'negative'}}">
          <td>
            <a href="{{url_for('pay_update', pay_id=pay_db.key.id())}}">
              {{pay_db.code}}
            </a>
          </td>
          <td>{{pay_db.name}}</td>
          <td>{{pay_db.date_for.strftime('%b %Y')}}</td>
          <td>{{pay_db.date_paid.strftime('%d %b %Y')}}</td>
          <td class="text-right">{{pay_db.amount_format}}</td>
        </tr>
      # endfor
    </tbody>
  </table>
  {{utils.next_link(next_url)}}
# endblock
