# extends 'base.html'

# block header
  <div class="jumbotron text-center">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p> Hello, salary, world!</p>
    </div>
  </div>
# endblock

# block content
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-4">
      <h2>App description</h2>
      <p>Salary will help track your monthly payments. It's an application only for employees that get paid monthly.</p>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-4">
      <h2>Easy access from anywhere</h2>
      <p>You can access the application from everywhere in the world, as long as you have access to the internet.</p>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-4">
      <h2>Powered by <a href="https://gae-init.appspot.com/" target="_blank">gae-init</a></h2>
      <p>A rather useful framework developed by <a href="https://github.com/lipis" target="blank"> Lipis.</a></p>
    </div>
  </div>
# endblock
